@media print{
    @page{
        size: 27.94cm 21.59cm;
        margin: 0cm;
    }

    .container{
        padding: 0;
        overflow: visible;
    }
    .section_left{
        display:none;
    }
    .section_right{
        width: 100%;
        border: none;
        /* padding-top: 1.345cm; */
        visibility: visible;
    }
    .products{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: space-evenly; */
        justify-content: center;
        flex: none;
    }
    .content_price{
        /* margin-bottom: 0.3cm; */
    }
    #b_print{
        display: none;
    }
    .page_break{
        /* margin-bottom: 2.69cm; */
        /* margin-bottom: 4.035cm; */
        margin-bottom: 2.395cm;
    }
    .new_page{
        margin-top: 2.395cm;
    }
}